* {
  box-sizing: border-box;
}

body {
  /* background-color: #f1f1f1; */
  padding: 20px;
  font-family: Arial;
}

.main {
  max-width: 1000px;
  margin: auto;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-size: 23px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: rgb(15, 236, 252);
  padding: 10px;
  border-radius: 10%;
  width: 240px;
  height: 350px;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body {
  background: linear-gradient(rgb(46, 227, 215), rgb(74, 118, 118));
}

.profilepic {
  border-radius: 25%;
}

.icon {
  width: 250px;
  height: 200px;
  border-radius: 10%;
}
